/*.container{
	display: flex;
}
*/
.box{
	height: 100px;
	width: 100px;
}

.red{
	background-color: red;
}

.green{
	background-color: green;
/*	position: relative;
	top:10px;
*/}

.blue{
	background-color: blue;
}

.fixed{ /*Luon cach tren va phai 10px, dung cho menu va nhieu doi tuong khac*/
	position: fixed;
	bottom: 10px;
	right: 10px;
}