body{
	font-family: Arial, sans-serif;
}
.menu{
	display: flex;
	padding: 0;
	list-style: none;
}

.menu li{
	padding:8px 8px;
}

.menu li:hover{
	background-color: #EEE;
}

.has-submenu{
	position: relative;
}

.sub-menu{
	list-style: none;
	padding: 0;
	position: absolute;
	display: none;
	left: 0;
	top: 100%;
}

.has-submenu:hover .sub-menu{
	display: block;
}

